*.iml
.gradle
/local.properties
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.ap_
*.dex
*.class
/app/build
/app/release
gradle-app.setting
.settings/
/gradlew
/gradlew.bat
/gradle/wrapper/gradle-wrapper.jar
